// 设备展示

// 中等屏幕
.md-block{
    display: none;
    @media (min-width: 768px) {
        display: block;
    }
}
.md-hidden{
    display: block;
    @media (min-width: 768px) {
        display: none;
    }
}




// btn
#hover-btn-full{
    background-color: #8F5A35;
    color: #fff;
    border: none;
    box-shadow: none;
    &:hover{
        background-color: #B47243;
    }
}